#.env.example

NODE_ENV=development  # or production, etc.

# Server Configuration
PORT=5000

# Database Configuration (Development)
DB_DIALECT=mssql
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=

# Database Configuration (Production) - Comment these out for development
# PROD_DB_USER=
# PROD_DB_PASSWORD=
# PROD_DB_NAME=
# PROD_DB_HOST=

# Keycloak Configuration
KEYCLOAK_ISSUER_URL=https://deepthoughtkeycloak-b7ecewdebaecgsh2.canadacentral-01.azurewebsites.net/realms/express-keycloak-realm  # Or your Keycloak URL
KEYCLOAK_JWKS_URI=https://deepthoughtkeycloak-b7ecewdebaecgsh2.canadacentral-01.azurewebsites.net/realms/express-keycloak-realm/protocol/openid-connect/certs # Or your Keycloak JWKS URI
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REALM=express-keycloak-realm # Or your realm name
KEYCLOAK_URL=deepthoughtkeycloak-b7ecewdebaecgsh2.canadacentral-01.azurewebsites.net # Or your Keycloak URL

# Public Key (If needed - usually not recommended to store in.env)
# PUBLIC_KEY=  # Consider retrieving this dynamically if possible
